<h1>Crews</h1>
<!-- affiche la liste des équipages -->
<kendo-grid
  #grid
  [data]="gridView"
  [columnMenu]="{lock: true, filter: false, sort: true}"
  [filter]="state.filter!"
  [sort]="state.sort!"
  [skip]="state.skip!"
  [pageSize]="state.take!"
  [rowClass]="rowCallbackCounter"
  [sortable]="true"
  [filterable]="true"
  [reorderable]="true"
  [pageable]="{previousNext: true}"
  [navigable]="true"
  (sortChange)="sortChange($event)"
  (filterChange)="filterChange($event)"
  (add)="addCrewGrid()"
  (remove)="deleteCrewGrid($event)"
  (edit)="editCrewGrid($event)"
  (dataStateChange)="dataStateChange($event)"
  (cellClick)="cellClickHandler($event)"
>
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand>Add New Crew</button>
    <button kendoButton (click)="saveState(grid)">Save current state</button>
    <button kendoButton *ngIf="savedStateExists" (click)="loadState()">Load saved state</button>
    <button kendoButton *ngIf="savedStateExists" (click)="removeState()">Remove saved state</button>
  </ng-template>
  <kendo-grid-column [width]="200" field="id" title="ID" [locked]="true"></kendo-grid-column>
  <kendo-grid-column [width]="200" field="name" title="Name"></kendo-grid-column>
  <kendo-grid-column [width]="200" field="ship" title="Ship Name"></kendo-grid-column>
  <kendo-grid-column [width]="200" field="members" title="Members">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="crewGridMemberCell">
        {{dataItem.members?.length}}
        <button kendoButton (click)="goTo('members')" (click)="viewMembersGrid(dataItem)">
          <a>View Member</a>
        </button>
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [width]="200" field="memberMax" title="Max Members">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <div>{{dataItem.memberMax}} members</div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-command-column [width]="200" [columnMenu]="false">
    <ng-template kendoGridCellTemplate>
      <button kendoGridEditCommand [primary]="true">Edit</button>
      <button kendoGridRemoveCommand>Delete</button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>

<app-crew-form [crew]="crew" [newCrew]="newCrew" (edit)="editCrew()" (add)="addCrew()" (close)="closeForm()"> </app-crew-form>
