<!-- BUTTON CONFIGURATION -->
<kendo-dropdownbutton
  arrowIcon="true"
  [data]="saveGridActionButtonService.actionButtons"
  [iconClass]="'fa fa-cog'"
  (itemClick)="actionsButtonClick($event.action)"
>
  <div class="grid-title-content">
    Display setup
    <span class="grid-title" *ngIf="gridSettingsService.currentGridSettings && gridSettingsService.currentGridSettings.saveName">
      : {{gridSettingsService.currentGridSettings.saveName}}
    </span>
  </div>
  <ng-template kendoDropDownButtonItemTemplate let-dataItem>
    <span class="{{dataItem.iconClass}}"></span>
    <span>{{dataItem.label}}</span>
  </ng-template>
</kendo-dropdownbutton>
