<!-- LOAD GRID -->
<kendo-dialog [width]="1000" [height]="600" *ngIf="isLoadGridWindowOpen" (close)="closeLoadGridSettingsWindow()" title="{{'load' | translate}}">
  <kendo-grid
  [style.height]="'100%'"

  [data]="gridView | async"
  [sortable]="true" 
  [resizable]="true" 
  [reorderable]="true"
  [navigable]="true"
  [filterable]="true"
  [pageable]="{previousNext: true}" 
  [columnMenu]="{filter: false}"
  
  [pageSize]="state.take" 
  [skip]="state.skip" 
  [sort]="state.sort" 
  [filter]="state.filter"
  
  [rowClass]="rowCallbackCounter"
  (dataStateChange)="dataStateChange($event)"
  (cellClick)="cellClickHandler($event)"
  (remove)="showConfirmationForDelete($event)">

    <!-- ID -->
    <kendo-grid-column [width]="125" [hidden]="true" filter="numeric" decimals="0" format="{0:n0}" field="id" title="{{ 'id' | translate }}"></kendo-grid-column>

    <!-- LABEL -->
    <kendo-grid-column [width]="200" field="saveName" title="{{'label'| translate}}"></kendo-grid-column>

    <!-- DATE -->
    <kendo-grid-column [width]="200" field="createDate" filter="date" format="{0:G}" title="{{'save.date'| translate}}">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.createDate | kendoDate:'G'}}
      </ng-template>
    </kendo-grid-column>

    <!-- ACTION BUTTON -->
    <kendo-grid-command-column [width]="130">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="saved-grids-actions-buttons">
          <button kendoButton [iconClass]="'fa fa-fw fa-upload'" [primary]="true" (click)="loadGridSettings(dataItem)">{{"load" | translate}} </button>
          <button kendoGridRemoveCommand [iconClass]="'fa fa-fw fa-times'">{{"button.delete" | translate}}</button>
        </div>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</kendo-dialog>

<!-- SAVE GRID -->
<app-save-grid-form
[isFormOpen]="isFormOpen"
(saveNew)="saveGridSettings($event)"
(save)="showConfirmationForSave($event)"
(cancel)="closeSaveGridSettingsForm()">
</app-save-grid-form>

<!-- CONFIRMATION DIALOG FOR DELETE-->
<div kendoDialogContainer></div>
